<header class="mdc-top-app-bar mdc-top-app-bar--fixed" data-mdc-auto-init="MDCTopAppBar">
	<div class="mdc-top-app-bar__row">
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
			<span class="mdc-top-app-bar__title">Tagaroggu</span>
		</section>
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
			<a id="home" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" href="/" title="Home">home</a>
			<a id="home" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" href="/about" title="About Me" aria-label="About Me">face</a>
			<a id="home" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" href="/blog" title="Blog" aria-label="Blog">subject</a>
		</section>
	</div>
</header>
<div class="mdc-top-app-bar--fixed-adjust"></div>
